.startup {
  background-color: var(--ion-color-primary);
  color: #000000;
}
.startupButton {
  color: #000000;
  --background: white;
}

.partner {
  color: #000000;
  background-color: white;
}

.partnerButton {
  --background: var(--ion-color-primary);
}

ion-button{
  margin-bottom: 50px;
}

ion-grid {
  padding: 0px;
  height: 100% !important;
}

ion-row{
  height: 100% !important;
}
ion-col{
  height: 100% !important;
  padding-left: 200px;
  padding-top: 100px;
}

ion-toolbar{
  color: black;
  --background: var(--ion-color-tertiary);
  height: 80px;
}