<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      StartHub Schaffhausen Rocket 🚀
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">StartHub Schaffhausen Rocket</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col class="startup">
        <ion-text>
          <p>
            Ich bin ein
          </p>
          <h1 class="highlight"><b>
            START-UP
          </b>
          </h1>
          <ion-button target="_blank" href="https://starthub-schaffhausen-startup.paperform.co/" class="highlight startupButton">Profil erstellen</ion-button>
          <h3>
            <b>
              MITGLIEDSCHAFT
            </b>
          </h3>
          <p>
            gratis
          </p>

          <h3 >
            <b>
              BENEFITS
            </b>
          </h3>
          <ul>
            <li>Start-up Profil in StartHub-Portal "Rocket"</li>
            <li>Zugang zu Partnern und Schaffhauser Ökosystem</li>
            <li>Einladung zur Start-up-Lounge</li>
            <li>Möglichkeit, dein Start-up bei Pitch Nights zu präsentieren</li>
            <li>Promotion von Start-up im Start-up-Newsletter (E-Mail an Partner)</li>
          </ul>

          
          <h3 >
            <b>
              VORAUSSETZUNGEN
            </b>
          </h3>
          <ul>
            <li>Bezug zu Schaffhausen</li>
            <li>Offenes Mindset / Innovative Geschäftsidee</li>
          </ul>
        </ion-text>

      </ion-col>

      <ion-col class="partner ion-padding">

        <ion-text>
          <p>
            Ich bin ein
          </p>
          <h1 class="highlight"><b>
            PARTNER
          </b>
          </h1>

          <ion-button class="highlight" target="_blank" href="https://starthub-schaffhausen-partnerprogramm.paperform.co/">Profil erstellen</ion-button>
          <h3>
            <b>
              MITGLIEDSCHAFT
            </b>
          </h3>
          <p>
            CHF 500.- / Jahr
          </p>

          <h3>
            <b>
              BENEFITS
            </b>
          </h3>
          <ul>
            <li>Partner Profil in StartHub-Portal "Rocket"</li>
            <li>Platzierung Logo auf StartHub-Map</li>
            <li>Monatlicher Start-up Newsletter mit Neugründungen aus der Region</li>
            <li>Zugang zu Schaffhauser Start-ups</li>
            <li>Einladung zur Start-up-Lounge</li>
            <li>Zugang zu Schaffhauser Ökosystem</li>
          </ul>
          <h3 >
            <b>
              VORAUSSETZUNGEN
            </b>
          </h3>
          <ul>
            <li>Bezug zu Schaffhausen</li>
            <li>Interesse an Schaffhauser Start-up Szene</li>
          </ul>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>